/*
  This file contains all the global mixins and variables.
  It gets auto injected into all the .Vue modules,
  as described in the vue.config.js
*/
$background: #fff;
$font-color: #000;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
