@import url('inter-ui.css');

*{
  box-sizing: border-box;
}
html,body,#app{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
}

.container{
  max-width: 1000px;
  margin:0 auto;
  @media screen and (max-width: 1000px) {
    margin: 0 50px;
  }
}

a{
  color:#000;
  transition:color .5s;
  &:visited{
    color:#000;
  }
  &:hover{
    color:#6f6f6f;
  }
}

// Buttons
.button-group{
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

.button,button{
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.20);
  font-weight: 500;
  background: #fff;
  transition: color .5s, background .5s;
  &:hover{
    background: #f2f2f2;
  }
  &.router-link-exact-active{
    background: #434343;
    color:#fff;
  }
  &:focus{
    outline:none;
  }
}

/* Helper classes */
.pull-left{
  float: left;
  display: inline-block;
}
.pull-right{
  float:right;
  display: inline-block;
}

/* Page transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.hidden{
  display: none;
}
